@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-0">
    <div class="text-center pb-lg-3">
        <h2 class="text-dark text-uppercase">
            <strong>Red de Programación Competitiva</strong>
        </h2>
    </div>
    <div class="container">
        <a href="https://redprogramacioncompetitiva.com/#">
            <div class="align-content-center text-center">
                <img src="https://redprogramacioncompetitiva.com/images/lgo_rpc1.png" width="50%" />
            </div>
        </a>
    </div>
    <div class="container">
            <div class="text-center pb-lg-3">
                <h2 class="text-dark text-uppercase title1" id="Contacto"><strong>Join us!</strong></h2>
                <p class="subtitle mb-3 text-black-50">Change the daily life of thousand of people.</p>
            </div>
            <div class="card-deck row">
                    <div class="card col-sm-12" style="max-width:400px;margin:4px;border:none">
                        <img src="https://redprogramacioncompetitiva.com/images/whatsapp_rpc.jpg" class="card-img-top" alt="WhatsApp">

                        <div class="card-block text-center">
                            <h5 class="card-title text-dark title2 font-weight-bolder">WhatsApp</h5>
                            <p class="card-text">Chat with us to give more information about how to manage competitive programming in your community.</p>
                            <p><a class="btn btn-dark" href="https://api.whatsapp.com/send?phone=573133486246&amp;text=Hola!%20Quiero%20más%20información%20sobre%20los%20servicios%20de%20RPC" target="new" role="button">Link to the chat!</a></p>
                        </div>

                    </div>
                    <div class="card col-sm12" style="max-width: 400px; margin: 4px; border: none">
                        <img src="https://redprogramacioncompetitiva.com/images/mail_rpc.jpg" class="card-img-top" alt="WhatsApp">

                        <div class="card-block text-center">
                            <h5 class="card-title text-dark title2 font-weight-bolder">Email</h5>
                            <p class="card-text">A lot of people have already joined our RPC. Leave us your message, we want you to be part of our community and grow together.</p>
                            <p><a class="btn btn-dark" href="https://api.whatsapp.com/send?phone=573133486246&amp;text=Hola!%20Quiero%20más%20información%20sobre%20los%20servicios%20de%20RPC" target="new" role="button">Write us!</a></p>
                        </div>

                    </div>
                    <div class="card col-sm12" style="max-width: 400px; margin: 4px; border: none">
                        <img src="https://redprogramacioncompetitiva.com/images/comparte_rpc.jpg" class="card-img-top" alt="WhatsApp">

                        <div class="card-block text-center">
                            <h5 class="card-title text-dark title2 font-weight-bolder">Share</h5>
                            <p class="card-text">Help us provide access to competitive programming to the people in your community</p>
                            <p><a class="btn btn-dark" href="https://api.whatsapp.com/send?phone=573133486246&amp;text=Hola!%20Quiero%20más%20información%20sobre%20los%20servicios%20de%20RPC" target="new" role="button">Share!</a></p>
                        </div>

                    </div>
            </div>
    </div>

</div>
