@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-0">
    <div class="text-center pb-lg-3">
        <h2 class="text-dark text-uppercase">
            <strong>Red de Programación Competitiva</strong>
        </h2>
    </div>
    <div class="container">
        <a href="https://redprogramacioncompetitiva.com/#">
            <div class="align-content-center text-center">
                <img src="https://redprogramacioncompetitiva.com/images/lgo_rpc1.png" width="50%" />
            </div>
        </a>
    </div>
    <div class="container">
        <div class="container marketing py-2 mt-0">
            <div class="text-center pb-lg-3">
                <h2 class="text-dark text-uppercase title1" id="Contacto"><strong>¡Únete!</strong></h2>
                <p class="subtitle mb-3 text-black-50">Marca la diferencia cada día en la vida de miles de niños y jóvenes.</p>
            </div>

            <!-- inicio únete -->
            <div class="card-deck text-center mt-0">
                <div class="card">
                    <img src="https://redprogramacioncompetitiva.com/images/whatsapp_rpc.jpg" class="card-img-top" alt="WhatsApp">
                    <div class="card-body grad1 py-2 border-warning">
                        <h5 class="card-title text-dark title2 font-weight-bolder">Por WhatsApp</h5>
                        <p class="card-text">Chatea con nosotros para darte más información sobre cómo llevar la programación competitiva a tu comunidad o institución.</p>
                        <p><a class="btn btn-light shadow-sm btn-sm text-uppercase" href="https://api.whatsapp.com/send?phone=573133486246&amp;text=Hola!%20Quiero%20más%20información%20sobre%20los%20servicios%20de%20RPC" target="new" role="button">Ir al chat »</a></p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://redprogramacioncompetitiva.com/images/mail_rpc.jpg" class="card-img-top" alt="mail">
                    <div class="card-body grad1 py-2 border-warning">
                        <h5 class="card-title text-dark title2 font-weight-bolder">Por Email</h5>
                        <p class="card-text">Miles de personas ya se unieron a nuestra RPC. Déjanos tu mensaje, queremos que seas parte de nuestra comunidad y crecer juntos.</p>
                        <p><a class="btn btn-light shadow-sm btn-sm text-uppercase" href="mailto:mail@redprogramacioncompetitiva.com;communitymanager@redprogramacioncompetitiva.com;people@redprogramacioncompetitiva.com?subject=Solicitud%20más%20información" target="new" role="button">Escríbenos »</a></p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://redprogramacioncompetitiva.com/images/comparte_rpc.jpg" class="card-img-top" alt="comparte">
                    <div class="card-body grad1 py-2 border-warning">
                        <h5 class="card-title text-dark title2 font-weight-bolder">Cuéntale a un amigo</h5>
                        <p class="card-text">Ayúdanos a brindar acceso a la programación competitiva a niños y jóvenes de tu comunidad y toda Latinoamérica.</p>
                        <p><a class="btn btn-light shadow-sm btn-sm text-uppercase" href="https://wa.me/?text=Go!%20Comparte%20y%20únete%20a%20la%20RPC%20http://www.redprogramacioncompetitiva.com/" target="new" role="button">Comparte, si puedes »</a></p>
                    </div>
                </div>
            </div>
            <!-- fin únete -->
        </div>
    </div>

</div>
